# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environments
# =========================
venv/
.env/
.env*

# =========================
# Alembic
# =========================
alembic/versions/__pycache__/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Build Artifacts
# =========================
dist/
build/
*.egg-info/
